<p class="text-lg font-medium">Folder: <strong><%= rootFolder %></strong></p>
<table class="table-auto w-full border-collapse border border-gray-200 mt-4">
    <thead>
        <tr class="bg-gray-100">
            <th class="border border-gray-300 px-4 py-2">File Name</th>
            <th class="border border-gray-300 px-4 py-2">Tags</th>
            <th class="border border-gray-300 px-4 py-2">Action</th>
            <th class="border border-gray-300 px-4 py-2">Best Match Folders</th>
        </tr>
    </thead>
    <tbody>
        <% files.forEach(file => { %>
            <tr class="odd:bg-white even:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2" data-file="<%= file.fileName %>">
                    <span><%= file.fileName %></span>
                    <!-- Copy to Clipboard Icon -->
                    <a href="#" class="text-blue-500 hover:text-blue-700 ml-4 copy-file-path"
                        data-file-path="<%= path.join(rootFolder, file.fileName) %>">
                        <i class="fas fa-copy"></i>
                    </a>
                    <!-- Edit Icon -->
                    <a href="#" class="text-blue-500 hover:text-blue-700 ml-4 edit-filename"
                        data-file="<%= file.fileName %>">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="border border-gray-300 px-4 py-2 relative">
                    <div class="flex items-center">
                        <textarea 
                            class="tags-input w-full border border-gray-300 px-2 py-1 rounded resize-none" 
                            placeholder="Add tags, separated by column" 
                            data-file="<%= file.fileName %>" 
                            rows="2"
                        ></textarea>
                        <button 
                            class="magic-wand-btn text-blue-500 hover:text-blue-700 ml-2"
                            data-file="<%= file.fileName %>">
                            <i class="fas fa-magic"></i>
                        </button>
                    </div>
                </td>
                <td class="border border-gray-300 px-4 py-2">
                    <button class="find-folders-btn bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                        data-file="<%= file.fileName %>">
                        Find folders
                    </button>
                </td>
                <td class="border border-gray-300 px-4 py-2">
                    <ul class="matching-folders space-y-2" data-file="<%= file.fileName %>"></ul>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script src="/js/utils.js" type="module"></script>
<script src="/js/main.js" type="module"></script>